In [130]:
import pandas as pd
df = pd.read_csv('gdp.csv')
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

## Check Description of Each Column

In [108]:
df['Country Name'].describe()

count                      11507
unique                       256
top       Caribbean small states
freq                          57
Name: Country Name, dtype: object

In [109]:
df['Country Code'].describe()

count     11507
unique      256
top         CSS
freq         57
Name: Country Code, dtype: object

## Finding GDP Growth of Every Country

In [131]:
final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]

    data = df_pr.values
    gdp_change = [0]

    for i in range(1,len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur-prev)/prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)

df = pd.concat(final_data, axis=0)

In [112]:
df

      Country Name Country Code  Year         Value    GDP
0       Arab World          ARB  1968  2.576068e+10   0.00
1       Arab World          ARB  1969  2.843420e+10  10.38
2       Arab World          ARB  1970  3.138550e+10  10.38
3       Arab World          ARB  1971  3.642691e+10  16.06
4       Arab World          ARB  1972  4.331606e+10  18.91
...            ...          ...   ...           ...    ...
11502     Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10   1.93

[11507 rows x 5 columns]

In [114]:
df1 = df.copy()

In [117]:
df1.drop('Country Code', axis=1, inplace=True)

In [127]:
df1.groupby('Country Name').mean()['Value'].sort_values()

Country Name
Tuvalu                       2.132449e+07
Nauru                        7.580117e+07
Kiribati                     7.623848e+07
Marshall Islands             1.136514e+08
Palau                        1.626908e+08
                                 ...
Europe & Central Asia        8.631478e+12
Post-demographic dividend    1.852443e+13
OECD members                 1.926956e+13
High income                  1.950705e+13
World                        2.609594e+13
Name: Value, Length: 256, dtype: float64

In [126]:
df.groupby('Country Name').max()['Value'].sort_values()

Country Name
Tuvalu                       3.987575e+07
Nauru                        1.170204e+08
Kiribati                     1.880457e+08
Marshall Islands             1.944979e+08
Palau                        3.102483e+08
                                 ...
IDA & IBRD total             2.948247e+13
Post-demographic dividend    4.673504e+13
OECD members                 4.937008e+13
High income                  5.036240e+13
World                        7.904923e+13
Name: Value, Length: 256, dtype: float64