In [35]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

df = pd.read_csv('gdp.csv')

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]

    data = df_pr.values
    gdp_change = [0]

    for i in range(1,len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur-prev)/prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)

df = pd.concat(final_data, axis=0)

df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

# GDP of Each Country

In [36]:
os.mkdir('GDP Individual')

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]
    fig = px.line(df_pr, x = 'Year', y = 'Value', title = country_name + ' GDP Analysis')
    pyo.plot(fig, filename = 'GDP Individual/' + country_name + '.html', auto_open=False)

# GDP of Each Country WRT 80T

In [37]:
os.mkdir('GDP Individual WRT 80T')

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]
    fig = px.line(df_pr, x = 'Year', y = 'Value', title = country_name + ' GDP Analysis', range_y=[0,80000000000])
    pyo.plot(fig, filename = 'GDP Individual WRT 80T/' + country_name + '.html', auto_open=False)

# GDP of all Countries

In [40]:
fig = px.line(df, x = 'Year', y = 'Value', title ='GDP Analysis of all Countries', color='Country Name')
pyo.plot(fig, filename = 'GDP Analysis of all Countries.html')

'GDP Analysis of all Countries.html'

# GDP Comparison of India & China

In [46]:
c1 = df[df['Country Name'] == 'China']
c2 = df[df['Country Name'] == 'India']

In [47]:
c1.head()

     Country Name Country Code  Year         Value    GDP
4046        China          CHN  1960  5.971647e+10   0.00
4047        China          CHN  1961  5.005687e+10 -16.18
4048        China          CHN  1962  4.720936e+10  -5.69
4049        China          CHN  1963  5.070680e+10   7.41
4050        China          CHN  1964  5.970834e+10  17.75

In [50]:
df_pr = pd.concat([c1, c2], axis=0)
df_pr

     Country Name Country Code  Year         Value    GDP
4046        China          CHN  1960  5.971647e+10   0.00
4047        China          CHN  1961  5.005687e+10 -16.18
4048        China          CHN  1962  4.720936e+10  -5.69
4049        China          CHN  1963  5.070680e+10   7.41
4050        China          CHN  1964  5.970834e+10  17.75
...           ...          ...   ...           ...    ...
6126        India          IND  2012  1.827638e+12   0.25
6127        India          IND  2013  1.856722e+12   1.59
6128        India          IND  2014  2.035393e+12   9.62
6129        India          IND  2015  2.089865e+12   2.68
6130        India          IND  2016  2.263792e+12   8.32

[114 rows x 5 columns]

In [ ]:
fig = px.line(df_pr, x = 'Year', y = 'Value', title ='GDP Comparison of India & China', color='Country Name')
pyo.plot(fig, filename = 'GDP Comparison of India & China.html')

'GDP Comparison of India & China.html'

# GDP Comparison between Specific Countries

In [56]:
lst = ['ITA', 'IND', 'USA', 'CHN']

dfs = []

for i in lst:
    dfs.append(df[df['Country Code'] == i])

    df_pr = pd.concat(dfs, axis=0)

In [60]:
fig = px.line(df_pr, x = 'Year', y = 'Value', title ='GDP Comparison', color='Country Name')
pyo.plot(fig, filename = '-'.join(lst)+'.html')

'ITA-IND-USA-CHN.html'

In [67]:
lst = ['ITA', 'IND', 'USA', 'CHN']

def compare_gdp_country_code(lst, isOpen):
    
    dfs = []
    for i in lst:
        dfs.append(df[df['Country Code'] == i])

        df_pr = pd.concat(dfs, axis=0)
    
    fig = px.line(df_pr, x = 'Year', y = 'GDP', title ='GDP Comparison -> '+'-'.join(lst), color='Country Name')
    pyo.plot(fig, filename = '-'.join(lst)+'.html', auto_open=isOpen)

In [68]:
compare_gdp_country_code(['IND', 'ITA'],True)

# GDP Growth  of All the Countries Individual

In [71]:
os.mkdir("GDP Growth Individual")

for country_name in df['Country Code'].unique():

  df_pr = df[df['Country Code'] == country_name]

  fig = px.line(df_pr, x = 'Year', y = 'GDP', title = country_name+' GDP Growth')
  pyo.plot(fig, filename = 'GDP Growth Individual/'+country_name+'.html', auto_open=False)

# GDP Growth between 1960 - 2016

In [74]:
dfs = []

for country_name in df['Country Code'].unique():
    df_pr = df[df['Country Code'] == country_name]

    if(len(df_pr) == 57):
        dfs.append(df_pr)

df_pr = pd.concat(dfs, axis=0)

In [75]:
df_pr

                 Country Name Country Code  Year         Value    GDP
49     Caribbean small states          CSS  1960  2.004785e+09   0.00
50     Caribbean small states          CSS  1961  2.169733e+09   8.23
51     Caribbean small states          CSS  1962  2.289495e+09   5.52
52     Caribbean small states          CSS  1963  2.431592e+09   6.21
53     Caribbean small states          CSS  1964  2.626896e+09   8.03
...                       ...          ...   ...           ...    ...
11502                Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503                Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504                Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505                Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506                Zimbabwe          ZWE  2016  1.661996e+10   1.93

[6840 rows x 5 columns]

In [76]:
fig = px.line(df_pr, x = 'Year', y = 'GDP', title = 'GDP Growth', color = 'Country Name')
pyo.plot(fig, filename = 'GDP Growth.html', auto_open=True)

'GDP Growth.html'